<mat-card>
  <form
    class="my-data__form"
    [formGroup]="form"
    ngxsForm="SettingsState.form"
    [ngxsFormClearOnDestroy]="true"
    (ngSubmit)="submitted.emit()"
  >
    <div class="my-data__form__image-container">
      <img
        class="avatar-image"
        [src]="form.value.imageSrc"
        appDefaultImage
        (click)="image.click()"
      >
      <input style="display: none" type="file" #image (change)="addImageToUser($event)">
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Telephone</mat-label>
        <input matInput type="tel" placeholder="Telephone" formControlName="telephone">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <div class="my-data__form__links-title">
      <h2>Links:</h2>
      <button type="button" mat-button color="primary" (click)="addContactLink()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <div formArrayName="contactLinks">
        <div *ngFor="let _ of contactLinks.controls; let i = index">
            <mat-form-field appearance="legacy">
              <input matInput
                     [formControlName]="i"
                     placeholder="Contact link {{i + 1}}"
              >
              <mat-icon matSuffix (click)="removeContactLink(i)">delete_forever</mat-icon>
            </mat-form-field>
        </div>
      </div>
    </div>
    <button class="my-data__form__submit-button" type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Update</button>
  </form>
</mat-card>
