<form [formGroup]="form" ngxsForm="CreatePostState.form" (ngSubmit)="submitted.emit()">
  <mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select formControlName="city">
      <mat-option *ngFor="let city of ['Lviv', 'Kyiv']" [value]="city">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Animal</mat-label>
    <mat-select formControlName="animal">
      <mat-option *ngFor="let animal of ['Cat', 'Dog', 'Parrot']" [value]="animal">
        {{animal}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea
      matInput
      placeholder="Шукаю дівчинку Жако для Самця..."
      formControlName="description"
      pasteEventTrimmer
    ></textarea>
  </mat-form-field>
  <input type="file" formControlName="image" (change)="onFileChanged($event)">
  <img [src]="imageSrc" style="width: 200px; height: 150px">
<!--  <quill-editor [styles]="{'height': '200px'}" formControlName="description" pasteEventTrimmer></quill-editor>-->
  <button type="submit" mat-flat-button color="primary" [disabled]="form.invalid">Post</button>
</form>
