<mat-toolbar color="primary">
  <div>
    <button mat-icon-button routerLink="posts">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button routerLink="create-post">
      <mat-icon>library_add</mat-icon>
    </button>
    <button mat-icon-button routerLink="map">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button routerLink="settings">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button (click)="logout.emit()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
