/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import '~leaflet/dist/leaflet.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-card.auth_layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  width: 300px;
  padding: 0;

  form {
    display: flex;
    flex-direction: column;
  }
}
